.img{
    border-style:ridge;
    border-width:20px;
    border-color:deepskyblue;
    
}
.body{
  background-color:antiquewhite;
}

.tit{
    
    border-style:ridge;
    border-width:10px;
    border-color:deepskyblue;
    background-color:deepskyblue;
}

.texttit{
    font-variant:normal;
    text-align: center;
    font-size: 2.5em;
    font-style: bold;
    font-weight: bolder;

}

.text{
    text-align: justify;
    line-height:100%;
    font-size: 1.2em;
}
